@import url(header.css);
@import url(utils.css);
@import url(main.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #5B9AFF;
}

ul {
    list-style-type: none;
}

i {
    color: red;
    vertical-align: middle;
    margin-left: .3125rem;
}
